body
{
    margin: 0%;
    padding: 0%;
}

nav
{
    
    display: flex;
    justify-content: end;
    height: 70px;
    width: 100%;
    background-color: burlywood;
}
nav a
{
    color: black;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    line-height: 50px;
}